.landingpage {
  background-image: linear-gradient(#000000b3, #00000099), url(home-img.jpg);
  width: 103%;
  height: 884px;
  background-repeat: no-repeat; 
  background-size: cover;
  background-position: top center;
  
}

.groupItem {
  background-color: #4285f4;
  height: 40px;
  color: #fff;
  text-align: left;
}
.FullName {
  text-align: left;
  font-weight: 400;
}
.inputclass {
  width: 100%;
}
.inputstyles {
  text-align: left;
  margin-top: 18px;
  font-weight: 400;
}

.signupbtn {
  color: #fff;
  background-color: "primary";
  width: 30%;
  height: 40px;
  margin-left: 70%;
  padding: 10px;
}
.datepicker {
  margin-left: -5px;
  margin-top: -2px;
  width: 492px;
  border-style: none;
}
@media (max-width: 720px) {
  .datepicker {
    width: 100% !important;
  }
  .landingpage {
  background-position: center center;
  }
}
