.App {
  text-align: center;
}

.groupList {
  width: 100%;
}
.groupItem {
  background-color: #4285F4;
  height: 40px;
  color: #fff;
  text-align: left;
}
.FullName {
  text-align: left;
  margin-top: 15px;
}
.inputclass {
  width: 100%;
}
.inputstyles {
  text-align: left;
  margin-top: 20px;
}
.signupbtn {
  color: #fff;
  background-color: "primary";
  width: 30%;
  height: 40px;
  margin-left: 70%;

}
