.groupItem {
  background-color: #4285F4;
  height: 40px;
  color: #fff;
  text-align: left;
}
.FullName {
  text-align: left;
  font-weight: 400;
}
.inputclass {
  width: 100%;
}
.inputstyles {
  text-align: left;
  margin-top: 18px;
  font-weight: 400;
}
.signupbtn {
  color: #fff;
  background-color: "primary";
  width: 30%;
  height: 40px;
  margin-left: 70%;

}
.datepicker {
 margin-left: -5px;
 margin-top: -2px;
 width: 490px;
 border-style: none;
  
}

